@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;1,300;1,400&family=Montserrat:wght@400;600;700&display=swap');
@import "tailwindcss";

@theme {
--color-ab-cream: #F5F0EB;
--color-ab-social: #b5a881;
--color-ab-tortora: #C49D8D;
--color-ab-tortora-dark: #6B615B;
--color-ab-gold: #D4AF3A;
  
  --font-serif: "Cormorant Garamond", serif;
  --font-sans: "Montserrat", sans-serif;
}

@layer base {
  body {
    @apply font-sans;
  }
}